.box-container{
    display: flex;
   flex-wrap: wrap;
    gap:1.5rem;
    justify-content: center;
    align-items: center;
 }
 .box{
    text-align: center;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
    background: #e2e6ec;
    box-shadow: 2px 2px 4px black;
    
 
 }
 .box .message_container .customer_details{
   text-align: center;
   padding:2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   border-radius: .5rem;
   background-color: #e2e6ec;
   box-sizing: 2px 2px 4px black;

}



/*  header and footer*/
